@import "~antd/dist/antd.css";

.bg-white {
  background-color: #fff;
}

.bg-red {
  background-color: red;
}

.bg-grey {
  background-color: #f0f2f5;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}

.margin-25 {
  margin: 25px;
}

.m-left-25 {
  margin-left: 25px;
}

.padding-25 {
  padding: 25px;
}

.padding-top-20 {
  padding-top: 20px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.dflex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

#form-customer-detail .ant-btn {
  margin-right: 8px;
}
